:root {
  --primary: #0084ff;

  --primary-dark: #00407c;

  --primary-dark-opacity: #00162b9f;

  --gray-text: rgb(36, 36, 36);

  --dark: rgb(4, 0, 22);

  --white: rgb(198, 198, 198);

  --pure-white: white;
}

body {
  background-color: var(--dark);
}

.App {
  padding: 0px;

  margin: 0px;
}

.button-link {
  padding: 5px 20px;

  border: 2px solid var(--primary);

  border-radius: 10px;

  /*    border-image-slice: 1;
  
     border-width: 3px; */

  background: none;

  font-weight: 500;

  cursor: pointer;

  color: white;

  text-decoration: none;

  /* border-image-source: linear-gradient(to left, var(--primary), var(--primary-dark)); */
}

.button-link:hover {
  border: 2px solid var(--primary-dark);

  background-color: var(--primary-dark-opacity);
}
